.embed_object {width:100%; height:100%; border-style:none; border-width:0px;}
.title {font-size:60px; font-family:'Montserrat'; text-align:center;}
.text_primary {font-size:20px; font-family:'Montserrat'; text-align:center}

/*RT*/ 
.rt-title{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://blogs.bluekea.com/davidortega/files/2013/01/Montb_liard1.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
        /*RCG*/ 
.rcg-title{font-size:32px; font-family:'Arvo'; text-align:center}
.rcg-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rcg-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(https://scontent.fmad3-2.fna.fbcdn.net/v/t1.0-9/11836805_909927222375679_847721504639436642_n.jpg?oh=2c25abb96777a086cd9f33f6d066d23e&oe=5875B08A) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
	

	/*DGA*/ 
.dga-title{font-size:32px; font-family:'Arvo'; text-align:center}
.dga-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.dga-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhMVFhUWFxgWGBYVFxUXFRcVFxgaFxcVFRcYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGi0lHx8tLS0tLS0tLS0tKy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS03LTctLTUtLf/AABEIAPYAzAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAQIDBAYHAAj/xAA9EAABAwIFAgMGBAYBAgcAAAABAAIRAyEEBRIxQQZRImFxBxMygZGhFEKxwSNSYtHh8HIz8RU0U2OCkrL/xAAaAQACAwEBAAAAAAAAAAAAAAACAwEEBQAG/8QAJxEAAgMAAgICAgEFAQAAAAAAAAECAxEEIRIxE0EiUQUyM2GRsRT/2gAMAwEAAhEDEQA/ACISpoSheYZ6AVK1JCG5tjw0aRvz/ZclrIbwhzLEmo7Qz0/yiTQMPRt8RsO8qDIMJpaatT1/wrGX0XYmt7wjwN2TX+KwUl5MIdO5eQPeP+J17rQJlNkCEr3gbpHscLKWUjVJSpyVKi2C2kM0pTTI4RGlTaFIXDsmqpYId36QKhNIRP8ADtKe3BtHErviZLvQOpYYnfZWWYDmVaLLwpwExVoTO6RTOXgqJ+XHgq++u0TLmiImSLTtPZDqGe0Xvexrpcx5pkR+YcBFKuP6BjbMYcA5R1MMQrv4ySQEtd4077JfxxGq2f2CglhTVGTcKGOEhxwsxlp5eXivIQxU0hKkXM5GUShIkr1QwTzwEYLeEeNxOgQNz9kOy7LPev1HYXv+qdTpOqvjcnf+yKZliBh6YpMu91vn3TYrxQpvWQY+p7x4w9PYfEQtVluEFNgaBwhnTeV+7bqddzrkp/U/UVLCUnOc5uuPAybuP7JeOcsQzqKJs0zylhwTXe1g/KSd7bRvK53nPW7MQCxhqtJII93w6eQdxsbQQVz/ADTM316rqjySXEm5JAngErSey7Lm1MfTcXWYHPho1OJAgA9heVqQ4ca4+UvZRlyXJ5E6f0FgHspTUrueTctdcNP9JNxaLFa9roT6dHyH0j9EMzzGtoU3VHGA2/7W+qpy7Y1Prsu4zHMpNLqjg1oEknYeZVfCZ7h6jw1lVji5utsEEObMWPMH9VxnrjrWhjKegMqtcNjIE/8AIA7fVZbp6hiTqqYfVDLGDtrMWHqBt2VuHF2GyeCJWryxHdct9oWFqV/w7iWVNZYJgtdy1zXDcERHqtsx2y5zlPs+w/8ADq1Q41Whlw4iHMAg232C3VChpbab+ZSJ+K/pC8W/YSA5SKi2o6d081Xd0HkD8bOKe0zFV6mPrfh6Vb4GUXw10OMktNrEXt/hZD/xHG0nHE6ag0VPE5wOn3pGzp3N5+YX0iQOyzee9OsqYavRj/rPNUm9nOi/y0hWociPpo6VT+mcey32gYplT3r36zBAa4Sxnmxv83mVocV7XHupljafi/mcRc+gFgqPW3RlGhT95TOgC2kyS4xx/b1XPqtODa/mrMa6rPySESlOHTOw9F+00Pe3D4ljGC/8XXAntEefddOoOp1GamEOB2LSDP0XyaCt30D1s7DVWseGlhhuwa4AmLuG49UnkcRZsBtV79M7e5sbpElDGsrsFWm5rhyWkH6pwKyJRcWaUZahISJ8JoQBaZR7g0anIZUeXmeTsOydUqGodX5BsO57orlODDAa1S3YHhWIxwTKWisazC0i93xEKr09gnVqhxFUf8QeAqUuxtf/ANpp+q3OEw4Y0NAsEE2HGOLWTMYuVe1nNaYeKIosL4vUO7Z7Qd/VdWcYXEfaVicK7EaqTw8n4mj4WkW3/mJ/RP4UdsFchvwMM9pO7p+q6j7CcATVr15+Fopx6mZnhUPZp0X+KeMTWaBh2Ew1zdXvDtsbFoO58l1LNeoMDgKDtD6DC0eGmzSCSdvAy8LTut1eC9lCuGdsNZtmlLDUzVrvDGC033PC4h1z1y7GA0qLS2nqs6TqIH6TCE9R9V18a7+K9ugbMBIbtvpP6rP1an9QNuCT+yGnjpflL2TOz6RA+iSNW3H+9912r2TZez8Gxzb6iS6RyDBHpZcZJ21H9P8AeV3z2fYdtDCUmT+XUfKTN/O67mSyGHceOy02jGRClmyqfiB5fNJUxIaJJWX5FrxZbaElQhC62YDSCqVTMTYKPMJVthpzlHVEiENZiXbxZTMxo0qPIPxOd+1qvpY1sQDI1c3309vVcpY+ASQC1wjbb7Lq/tVwrq1DUwSGHU79iuPkkf5WvxO6yhyFkiYMkG522F9u6bhAWvBbvxab8WS++I2tYKSjqcS8E6hEzvPB+UforQjo6P7NqleliTRxPvwKghoAd7qe/h8Ityun4am5vhdeLajufULJ+z7F+9ote4nU06SSbSI2K17HlzyS2LATO5naPpfzWHyn5S9GrQsRKkCcUwKoWEBsPhGtaARYLP59mDq7xh6W35iOArnUub6G+7Zd7rABWulMl9233j7vdcnlOk8Fwj+wlkmWNosDQEVSCyUBJYbYjllMv6KYcUcRXp0tDT4B8Rc6ZD3DYAcC61TiqePxLmgRcee30TapuL6FzjqClUn3ZbRDNiBPhaJG9gvnnrLIXYeoTfSSSZHineYJuu5szCAJJk8Wt5AceqyPVWAOJa4NGp7hAE8+sK3Tc4yK0qvJHEqmIcfDx2gf90rWDna/Imf2EwrmPyarRJ94wiLTwqxw7otfm2/0WspJ9ooODTCXTNGm6u1j6ZqNdMta7S4W3v28116g80mN30AQ0E38gTyuOZVQqNIqMcWuG3pstjh82rOaPeOmLWtPmqHM7fTL/Gji7Og4TMHVBqPw7DvblZ3qbrAULF0u4Dd/mqGHxztMB0A7SVh+rKD9YebgiJ81W49KlPJDbpuMdQfb7S6g2pCOxdv9rIvlftCpVHhtUGnPPxAepC5WKTux3j5pWMMwAZ2jlaMuJU16KS5Fmn0vTxDXsApuBEfryh9cvpG1wPv6LEZDjalLDsDjEDcn7Spa3VTiQA7VxE/2WTKpptI0o+tNXrFcOaYjkH+3K5z1j0m5ri+mJA4E2A5uimHzmqxxe236fdOxufPqXIDe5Bd4vl+6ZVOVb6AsqU0cxNOfKN1o+mcsFWWkeGYJ7qxmOBNR7CYGo7iAI2K2+SYOnTYBpiO3IAV27kpw69lavjZLsN9I5Yyiw0mtABOognvEmStNQI2HBI3lZerjDZoPEgjty3zRrJ6tom+5/wC6yptvtlxLAkU0JyRpSQ0YjpbK3VX/AIirzsDwFt2thQ4aiGtDRsFMilLWSOBXnFImkoSDwKr41oLb95lWEF6jqkNAHr80UfZEvRWxrtHobeZ9FVo5roJIaJs0R59h+6E4rHE3cTYQAr2XYLX4neG2ok8NG8J4vCvnOHZWYWVR8R1G8gAT4Z+iBY7JgAHNaACJ+XC1jaLCwESS4nSP6ZgEqDOiCRSbwIjyHdErGujlHTEUqJBiAWjy48lbo4Rx3bA49O6N4DLYd4hbylaB+XNLYDbD7KHbozxw5xjME90NbIvYcj5qehg4Jp1XkmJkm0I9isJFRoG0p2bZXIkDb72upV/0Q6zIZxSpUoFMankzAuBHJQhlWru1jWmdw3xGVp6eWBrg4iCZP2Kt5flHjY98Rv8APgKyuVGKA/8APrM9j8vxDjTpuqOOr8oNh8grzemvdxcgmIP6rXZVhQ+s6q7ZvhZ6DdEa+EFR47DnlV58t+kNVSTMO7L3wAZI8uTMQmOwdRpuJ8h2/ZdDGWtDfMDhDKmCk6Y+u5/sEr5mSkAMvwAqRxcDT5H/ACizyWwJ+G30T6eELHS37EXPaFSxlQ6oI33Ut6Rg5tQk7rRdO4uKgb3WdpUIF0UyR38VvqEDJZuF4JQEgCUQIvNTabwbcp5Us4YXLwXkoCgk8EG6npzTB80bCF9QNmn80UfZDMO7Dy5p4m6u5hinaYBtEEBQfmg8BUsTXMxybKwLzQlhseQaekDUWx5Ni31/urFDCt1Fzhfe9yh+C/hDxkueRAa2zWj13JRChlT6g1OfA/lbb5EpUn3g1RxdkeOzuhS+J4H3VOj1zhZjX/8AYED6rJ9R5VorOZvAJv8A75rGioACCASdiZ8JmSRf1F+60KOHXOOtlXkchwfSOu18e1zw9jg5pg2v8kWfjgWwN4XKuk8U+nUbyx7tJHryF0ivl7m3bz+iq38f45YmOru84p4UMUJdHH6KfUYtZQudpmRdV9VR7g1gPrdIzR6C1HFtZTDQb/6VdyfFA3cbLMZnimYVsvu48ckrJYjq/EE/wyGDsAD9ynVcSdvaF23wr6Z2mrjNXhZCHN3M/suY5T1Li3uawEPLjFxf1kLpGXYapH8RwJS+RRKr2yarFJdEgDJgm/EoYfDUIcZJve5+qKZrhQ5mpogtvMTKGPp6w1xsR9UuMsDa0hq1LxzyjfTWF1PB/lvPzQrC4IveBzsFucswQpM088nuikwX0XCkBXl4IAQXlWHdeo8mXcdgiJeO6qY+qQIahjnkc3UNhJB4J4QGjj3AwLovh68i+65M5rCwVTzOnNN3kJVoppEiCiTBMG9oBUNPDQ4uPCK57hBTqW2cJH9kIzGtAAaYnf8AcpreoiK7JMCJqFxH+/sizMcQdrIJllvP1G/nCKYWXW0pbQzSHPcpbidLmENqtkQ6wcOxIWIxns+xBqSymSCeIgfNdYy/Lmn4h9gEUZWpUhsPVPqvnWumIshGf0c4yfoCszQ+oAA34WC5nguK2eKgUw0i4An1hEa2cj8okd1mcRmOupBiJ2CXbc5h1wf6KdTCCTIHEDzPC83DPBimQ0/v2Vus3m+8qnVxOmoCPikAfPt9EhNssYNodMNru1Yqkaju5LgB8gVaq+zrAuv7kg9g54H6oqMz2DgZ3AG5jsAi2GJcyZA9dx5J0LrF0mItin20ZnB9OUqH/RpsZ5gS76m6kqOiw3RytVA+LSPQz9oVOvTYb2+Zd+gQzUpPWzoyRSbiCWlpG/yQplIwRBsebCPIlGnRFi6BuGgAfUmUJp0RqMUXXO73D9ioUQ0wl0/THvJJBMesFacINkFAiXQANoARlQC/Z5eaF5ya1cQA86xOhwJ2QU4gucAOVqsbhW1BBCy78GaVS8xwoSGL0Eajwxm1+6C1Ma9pkOP1U+aYq0ShLzK4lGqynPQYa/6rQ03AiQVzilUjdaXo3GvrViwD+Gz4ncTw0IoxbfQFjSWhXN8u1DWRIAgepWHzOlB08g+XyXSersa2jhnkFodHhB2J7eq5tToe/AqmwN/n2TnHBFU/IkwtLbm17gIngw1rtx5iQqjcOyxJ2FgJ/ZIC2ZawmOwAn1JlRgemhq44hvhAFrXQ+pqJmNR5jV9NgvYXEFw8RawDzJ+UCB8lXr49o+HES4naAG/NBNawoFr8SCNJBbbmwus/jHmg/VUPh/KReTvpJ4KJjE1vzaHgnYG6biYqtLXsMHgi3qEMUt7GaD6nUrNMkcKDKM097WLnDws2/wCTvPyE/VB81yU0pcCNF7DcIhkbWsp7ElxmRFhwrDrhGOoNvro0bs0ax0MZqeTJ8pE/LhIcbVdDydP9J/uQh+ExXDGR/U4fYg3UuKqcu8RMWBIE+STmC2X6+YHTpLT5mbFBMZmzRIaBI7BoP1MlI7EX8Lr9jY/I7Khi6Af8QuORYpkUt7Awfhc4cQf+p6F/6WT6WOAqAiRO/iVCjTDTAM833CVjNT7IpJBI6d07iA5luCi4KD9N4bRRAIubowqxEvZ4prQvOStXEERCixFBrhcKy9glMLQuaCTMlm+Tn4m/RZ6o2DeQQulmiCsj1qylRpl5MPNmgbkqYJt4E5YYJ+MrV8WzD0ZEkAkcDkrufTWWsw1MU2DiSeSeSVx3oTKqjcW3EVTBMwObrtrGgDV5K9Y4rFH6KEvJ75fZzf2zZ06kKdMFpBl2nmRsfRAehs496Cx5lw/TyHCG+1nBVPxutz9YeJaNtIHCB5DjDReBT3nxH9lY+GLp69io2NTz6OvOot4FzwmOw0WO/wDKP37pmW4xtRgLCJO5/VTE6dvm7n5LPazouIH4qk4G/H5RMD/m7f8A+IUBxA1aSxu3iMRA7W29PqiVZwi3yHb+o+aD46npGnvdx/3/AGx7qc0JMiq4hrfEGad4cHGw5M8k3VHEZw1o/iVSfne/kELzpxPpP2AgBZt7C6e3KfVRF9smU2vQTzbqdrhopttyTuVLkGePhzeGtLrwsy6h4oVzCsINpvb/AArsqq1HEV4WWb36Nbg83e4mY72CvOrk+h4QjKqU3R6lSACzbMT6LRG2kXf3RGjgjEG6nwTAN1fMFBoLYFrZeOAruTZUC8W8yrT3Bok8clDsi6jZ+ObSkBrmlo83bhR4yl6J8kvZ0GmyBHZOXkoScOEKUJHJQuZwjymJV6VzCQ1czzVr6+Ne+oDppmGDj1XTHOgLIZlUDqpgeqmNnjpKjrGYCgdTXdjK3+BrB1P5LMYAQ2YU+HzkUWPc4iGtJ+gRUv6Yq9b2cn9pectrYt2gWZ/DBPluYWXwrrQDHc9hykzrHGrVqVDu95dA4kqviKkNDB6n17LerhkUjJlP8mzU9L9RaKgpD4HQB69z5LpFKsHCdx+pXDaTyxsj4nWHkOT81rOn+qDT006hkRJPInYfIfqq3J42/lEsUX/UjolQfm/2eEOx7LH6f791Pgseyo0OaQQU6pTkrOeouozGLw+oQgzcE5jnCLOC2uKy+0jdDKjCLOb80yFjj6GLDMDJxMk/ZFG4AaWtja8q+5rd7pfexsCVMrZMPr9DKFMUwrGFlxlR4XAl7pKP4bCsaEpsFvRaLbXEqwXgBUauLa2wus9n2fe7bf8AMYtx5rowc3iAbUVrHdaZ8GU/dsPid9gue4bEPNRpBhwcCD2MqXP8cK1TW2dgL+VlHk9YMrUnHYPaTPabrZppVdf+TMtt87P8H0zgnE02F25aJjvAU4UVBwLRG0CPRTLBl7NRehrk5qaV4FCcMJTClSKGER1vhKxuJfFXflbOrsVhc0tVPquwKJpaNTwWKy/VGObTpuc4STYDgnz8kVwtWW7rJdcuik2B+cSZ2TaIbakLseQZzomXauN1DUE3TnWB9f0SU9x6r0aMJsXEO8UcCG/Tf7yvPfLz5yFE43+aWoIcfqiI0JZZnNSkQAbTMLbYTqB+qYNx6rHZJlhqukbLYswEWjb9Fm8tw3M7NHjKWdhKjn0zKkGaMfYgIb+F7he/8OMalRxF1BDUwpZYEObRPdI7CuNrqMJQYOYNaIAVKrmLiYCZTwp2Ks08Ih6CKwaUFz7LPeMMfE28DstUKAH+8rM9VZh7kAt+ObH9U7j+TmsE3Z4vfRg3sgqXBgGo0HYuAPoSmYmuXuLnbneLKxk3/mKM/wDqM/8A0Ftv+kx455LD6WwFPTTaAZAaAPOArYUDNgpmrzL9s2/o85eAXnJYXHEBKavJUIYhWT6iw15AWtKHZphg4IkQZPCVSBugHXNZn4cA/GXeEA/UlaHE0S022WT6wwZqMDm3c2Z9O6s8fPlWi7v7bwwdTYfNNaUrhb6poK3zDZ5xurmX0PePa35H07qki3TNOa7bgAXJJiyGfUWwoLZI3WS4JtJo0gI7TrMcRqsf38u6oUXCAR/hTOaHbrDk9fZrxWIIOosBE3UdWg0uIFh9lTFOo3Yz+qfDiNo7oAy4MACLJX5eGwd5tHmq1Ku9nopq2P1bn/CFhCspMiT8u8JtWswQWcd1Tq1SeUxtOeVBI+vXLyeB5bLDdcOMtEWE+Lz7LcFgC511dj/eVS1uzbfMK7wo7MrcuSVYBKvZPgX1qradMS8m3GypLdeyrIjVxIrEODKdwRMFw4lads1CDbMyqDlNI7VhGEU2A7hoB9QLqwxy8laF5x9vTb9I89PCa9e1LiCtK8mJZSxg5VsXVEFTyheYVIaVP2QDMTDrINUpBpNt95Vxta9kyszUPNOQJzjq7JfdP1M+B9/Q8rNELsGOwYqU3U3cjfsVznOsiq0Tcah3AMALX4vIUl4v2ZvJoafkgIpKLy0ggpiRXSknh0TIc1ZVAE3i47eSPsjuuRYWoQ4aTBneYXTcuxDXNAa4OgbysrlUeD1GpxrfNYwyK9rKOo8xv9FAG+qcNSotlvDxDvVN0d04PPK8CSuCw81qlsN15rCVm+pOom0ZpsEv+wR1wdksQE5KC1kHU/UgZNOnd3J4CwtWoXOLjuTJXqjpJJ5T8Ph3POloJJ4C26qo1R6Mi2yVkiXLMJ72qykLa3BsxMSY2X0d01kjcLQbRZJAvJFyTusJ7MejdDxiKw8Y+Fv8vmfNdXLFncy3zfjH0i3x6/Ba/ZE1qdpT2tTi1UPEs+RXenJaguF6FGBaUl5RakocljR7ygubGQUUe5UdGp0HZSvZ30CMFgzGojdMfT0rWOw7YEINmOGI9E4RugR7uUmIoh7CEzE2K9ha90S1do72YHO+lzTDnNkybD14QHHZZUpRrbE/7ddkxVAOCF4rBNeCx4kFXK+ZJdSK8+LGXo5HpRfIH1WuBZMSAfNbOvkNEt0hgEdlKzCNYIa0ABMnzYyjiRFfEcZboTwlQOaNpUppeazT6ha6xhWqWavG5B9VnOD9o0EzQNohecGtu4gepQV+dP4gIfXxZNySVCrbO0N5nm4aw+6bqdxwFzCrQq1HuJBLiSf7rb0a4Ku4fCAkOjb91aotVKfRWuq+TNZh8syCo97dTTpO5XQMkyCjRu1t+58uyu0cMBsFPi3aaZPPCC7lTs6JqojA1fQzdbXnzWrdh1k/ZS7Ux/kV0IsTaKHOOlTkW+NmAQ0YUL2oviKSH1WXSrK/F4FXb5FJ4uEilc26Yq7RYTAgcnByrynhySWRKrrJmCPjSVnSqj6xYJAmFMfZ0u0G3v2CpZl4mwhbupaQF7HzVPF9RteNNIFzjtA2Ts0QosFZ7W0nSN0NZWIV5+Xv+OodTj9vJVzSRqSC8Qrl+L1CCrT2ygWGfpcEaa+QhZOFerSVLEMRN4Kp4hqhEoyuPqw5VxiE3OZD0PFRXYV7HRUp4wmcUkpVpKHl6dRfcIvj6OUg5QwpNwjeXS2AqOX1TAPCM0XAhU5tjUEKYQ7qGtDQ0K7RCF50NVQBKXsJI23snGlj5O5Fl0oOC5r0TRNNs91smYxX+PyPCOGdyaXKeoJYl/CG1U51eVXe6UFtnk9BqraInm6jKV5umqqy2jOgpXFeXkgtkU3TKwXl5ccUa+Cpu3aFLRwrW/C0BKvKdOFrUgQgmPwgEleXlMX2QwYQiOHfFl5eTvoBhDBhpqNDhLZuPLlFDgsOQ0ljr77dvvdeXl6H+KphOjZJPt/8Rh/yFko24n9FWtkmEd8VBrjxqE7gEbEcTPnCif0zg7FuHpwQ6PCJkSRPyj7ry8tX4YL0kUPln+3/ALKuedP4NtCsadBrXCm8tdAs4AwbdlzelhT3Xl5ZH8lFRcc/Rrfx0nKMt/ZpsrZLQETFLsvLywJ+zURbw9k52DHvJPK8vIGSa/LG6WCEQZWKReRL0Kl7J21E8OXl5ToOED3XSylXkthpH//Z) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
        
        
        /*MBL*/ 
.mbl-title{font-size:32px; font-family:'Arvo'; text-align:center}
.mbl-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.mbl-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(https://scontent.fmad3-2.fna.fbcdn.net/v/t1.0-9/14292348_508584649338223_6573357991174494133_n.jpg?oh=a89026526820d836368b6da82139f02d&oe=58AAF4D6) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
       /*GRL*/ 
.grl-title{font-size:32px; font-family:'Arvo'; text-align:center}
.grl-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.grl-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(https://www.movieposter.com/posters/archive/main/25/MPW-12700) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}

	/*ABM*/
.rt-title{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://www.roto2.com/superroto2.png) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
	

        /*DMM*/ 
.dmm-title{font-size:32px; font-family:'Arvo'; text-align:center}
.dmm-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.dmm-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(https://i.ytimg.com/vi/FFv5kOxpECM/hqdefault.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
	